body {
    font-family: "Segoe UI", "Verdana";
    background: #fff;
    color: #000;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 150%;
    /*padding: 0.2em 0.5em;*/
    /* blue */
    /*
    border: 1px solid #25f;
    background: #acf;
    */
    /* green */
    /*
    border: 1px solid #0c0;
    background: #cfa;
    */
    border-bottom: 1px solid red;
}

pre {
    color: #b21;
    padding-left: 2em;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px dotted #88a;
    padding: 0.1em 0.3em;
    vertical-align: top;
}

a:hover {
    color: #00f;
    background: #ccf;
    text-decoration: none;
    border-top: 1px dotted blue;
    border-bottom: 1px dotted blue;
}


table.layoutMain {
    width: 100%;
    border-style: none;
    padding: 1em;
    padding-top: 0;
}

td.layoutLeftPane {
    width: 10em;
    border-style: none;
    border-right: 1px solid #aaf;
    padding: 1em;
    padding-top: 0;
}

p.filename {
    font-weight: bold;
    text-align: center;
    border: 1px solid #0c0;
    background: #cfa;
}

td.layoutLeftPane h2 {
    font-size: 11pt;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    padding-left: 0.3em;
    border: 1px solid #25f;
    background: #acf;
}

td.layoutLeftPane ul {
    font-size: 10pt;
    margin-top: 0;
    margin-bottom: 1.6em;
    padding-left: 1em;
}

td.layoutMainPane {
    padding-left: 1em;
    border-style: none;
}

div.fullscrlink {
    float: right;
}

span.breadcrumbs, a.breadcrumbs {
    font-weight: bold;
}

p.emptyresult {
    font-style: italic;
}